*.pyc
*.log
node_modules
coverage/
arches_rule_based_permissions/logs
arches_rule_based_permissions/export_deliverables
arches_rule_based_permissions/cantaloupe/*
arches_rule_based_permissions/staticfiles
arches_rule_based_permissions/media/packages
arches_rule_based_permissions/media/build/
arches_rule_based_permissions/uploadedfiles/*
arches_rule_based_permissions/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
